.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{
	font-weight:400;
}

 .gm-style-pbc{
	transition:opacity ease-in-out;
	background-color:black;text-align:center;
}

.gm-style-pbt{
	font-size:22px;
	color:white;
	font-family:Roboto,Arial,sans-serif;
	position:relative;margin:0;top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
    
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{
	font-size:10px;
}

@media print{.gm-style .gmnoprint, .gmnoprint {display:none;}}
@media screen{.gm-style .gmnoscreen, .gmnoscreen{display:none;}}

.gm-style{
	 font-family:Roboto,Arial,sans-serif;
	 font-size:11px;
	 font-weight:400;
	 text-decoration:none
}

.gm-style img{
	max-width:none;
}