html, body { height: 100%; margin: 0; padding: 0; }
	
button {
color:white;
background:blue;
padding:7px;
border-radius: 10px;
}	
button:hover {
	color:navy;
	background:skyblue;
}
#map { 
	height: 100%; 
	}

body { 
	margin: 10px 32px;
	}

label { 
	float:left; 
	text-align: center; 
}

#edit { 
	width:auto; 
	min-height:400px; 
}

#opacity { 
	width: auto; 
	margin:10px auto;  
}

#rotate {  
	width: auto;  
	margin:10px auto; 
}

#height {  
	width: auto; 
	margin:10px auto; 
}

#width {  
	width: auto; 
	margin:10px auto; 
}

#controls { 
	background:skyblue; 
	margin:18px 10px; 
	border: dashed navy thin;
	border-radius: 20px;
	padding:8px 16px; 
}

#output { 
	width:auto; 
	float:left;
	padding:10px;  
 }

.slabel {
	font-size: 12px; 
	font-weight:500; 
	color:white; 
}

.slide-bg { 
	background:blue; 
	color:navy; 
	text-align:center; 
	height: 14px;
}

#delete-button {
	margin-top: 5px;
	position: fixed;
	z-index: 5000;
	left: 55%;
}

#input-form {
	position: fixed;
	background: skyblue;
	margin: 10px;
	padding:10px 20px;
	border: double navy thick;
	border-radius: 20px;
	z-index: 5000;
	top: 0;
	right: 0;
}

html,
      body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      }
      body {
      font-family: "Arial", "Helvetica", sans-serif;
      color: #222;
      font-size: 13px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      overflow-y: auto;
	  overflow-x:hidden;
	  background:palegreen;
      }
      /* Map styles. */
      #map-container {
      width: 74.9%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      float: right;
      z-index: 0;
      }
      #map-holder {
      height: 100%;
      width: 100%;
      }
      #drop-container {
      display: none;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      /* padding: 20px;*/
      background-color: rgba(100, 100, 100, 0.5);
      }
      #drop-container.visible {
      display: block;
      }
      /* Panel styles. */
      #panel {
      float: left;
      width: 20%;
	  min-width: 100px;
      z-index: 100;
	  
	  
      }
      #panel-content {
      padding: 8.5px;
	  
      }
      #geojson-controls {
      padding-right: 8px;
	  text-align:right;
	  margin-right:30px;
      }
      #geojson-input {
      
	  max-height: 200px;
	  
	  width:90%;
      -webkit-box-sizing: border-box;
      /* <=iOS4, <= Android  2.3 */
      -moz-box-sizing: border-box;
      /* FF1+ */
      box-sizing: border-box;
      /* Chrome, IE8, Opera, Safari 5.1*/
      border: dashed skyblue thin;
	  border-radius: 20px;
	 
	  padding: 10px;
      resize: none;
      background-color: #F1F1F1;
	  
      }
    
      hr {
      color: #ebebeb;
      }
	  
#geojson-input {
	background-color: #F1F1F1;
}

#geojson-input.invalid {
  background-color: #FAC6C0;
      }

.logo {
 background-color:navy;
 color:white;
 width:auto;
 margin: 7px;
 padding:5px 7px;
 border: white dashed thin;
 border-radius: 20px;
 text-align:center;
}
.logo a {
	color:white;
	text-decoration:none;
}
.logo a:hover{
	
	text-decoration:underline;
}